<%= render partial: 'partials/navbar', locals: { user: @user, locale: true } %>
<div class="container">
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Count</th>
        <th scope="col">Credit</th>
        <th scope="col">Uploads</th>
        <th scope="col">Verified Count</th>
        <th scope="col">Verified Credit</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
              <td>

              </td>

          </tr>
    </tbody>
  </table>

</div>
