<p style="color: green"><%= notice %></p>

<h1>Responses</h1>

<div id="responses">
  <% @responses.each do |response| %>
    <%= render response %>
    <p>
      <%= link_to "Show this response", display_response_path(id: response.id, userid: @user.id) %> |
      <%= link_to "Print response", print_response_path(id: response.id, userid: @user.id, format: :pdf) %>
    </p>
  <% end %>
</div>
