<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @upload_section.title %>
</p>

<%= link_to 'Edit', edit_upload_section_path(@upload_section) %> |
<%= link_to 'Back', upload_sections_path %>
