.whole {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: none;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
}

.background {
  background-image: linear-gradient(rgba(65, 65, 65, 0.362), rgba(94, 94, 94, 0.08)), url('https://bl-i.thgim.com/public/news/w78508/article66656932.ece/alternates/LANDSCAPE_1200/NITK.jpg');
  background-color: rgba(0, 0, 0, 0.3);
  filter: saturate(80%);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  flex: 0 0 60%; /* This sets the width to 40% of the card */
}

.background h2, .background h3 {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#card-form {
  padding: 1rem;
  flex: 1; /* This allows the form to take up the remaining space */
}

#logo_div {
  text-align: center;
  margin-bottom: 1rem;
}

#logo_div img {
  max-width: 75px;
  height: auto;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem  #a8c0da;
  border-color: #5089c6;
}

.btn-success {
  background-color: #378eeb;
  border-color: #4c8dd2;
}

.btn-success:hover {
  background-color: #2865a7;
  border-color: #2865a7;
}

.mobile_title {
  display: none;
}

.alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%;
  max-width: 500px;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

@media (max-width: 992px) {
  .card {
    max-width: 800px;
  }

  .background {
    flex: 0 0 35%; /* Adjust the width to 35% for smaller screens */
  }
}

@media (max-width: 768px) {
  .background {
    display: none;
  }
  .mobile_title {
    display: block !important;
  }
  #card-form {
    padding: 1.5rem;
    flex: 1;
  }
}