@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

body {

    margin: 0;
    padding: 0;
}

#credits_container {
    width: 70%;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0px;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

h2 {
    color: #333;
    margin-bottom: 30px;
}
#total_sum {
    background-color:  rgba(127, 172, 218, 0.16);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.progress {
    height: 25px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255)
}

.progress-bar {
    transition: width 0.3s ease-in-out;
    background-color: rgba(130, 182, 234, 0.467)
}

.badge {
    background-color: rgba(130, 182, 234, 0.467)
}

.my-3 {
    background-color: rgba(127, 172, 218, 0.16) !important;
    border: 0px solid #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #2b2c2d;
    margin-bottom: 15px;
}

.question-title {
    font-size: 1em;
    font-weight: bold;
    color: #495057;
    margin-top: 15px;
    margin-bottom: 10px;
}

.form-control {
    border: 1px solid #c1c1c1;
}

.input-group-text {
    background-color: #e9ecef;
    border-color: #ced4da;
    color: #495057;
}

.btn-success {
    padding: 10px 20px;
    font-size: 16px;
}

.alert {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 870px) {
    #credits_container {
        width: 90%;
    }
}