<%= form_with url:  import_credit_questions_path, method: :post do |f| %>
  <div class = "container">
  <%=f.file_field :file, accept: ".csv" %>
  <%=f.submit "upload", class: "btn btn-success"%>
  </div>
<%end%>
